* {
    margin: 0;
    padding: 0;
}
.wrap {
    height: 920px;
    width: 1000px;
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
}
.zzz {
    background-color: blue;
}
.xxx {
    background-color: blueviolet;
    height: 120px;
}
.ccc {
    display: flex;
}
.vvv {
    background-color: aqua;
    width: 700px;
}
.bbb {
    background-color: aquamarine;
    width: 300px;
}
.nnn {
    background-color: darkblue;
}
.zzz, .xxx, .nnn {
    width: 1000px;
}
.zzz, .nnn {
    height: 150px;
}
.vvv, .bbb {
    height: 500px;
}